<div class="container">
    <h1>NFL Scraper</h1>
    <div class="row">
        <div class="col-lg-12">
            <h2>Saved Articles</h2>
            <div id="saved"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>New Articles</h2>
            <div id="new"></div>
        </div>
    </div>
</div>